absl-py
aiohttp
appdirs
argon2-cffi
async-generator
async-timeout
attrs
backcall
bleach
blis
cachetools
catalogue
certifi
cffi
chardet
click
configparser
cycler
cymem
decorator
defusedxml
docker-pycreds
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
entrypoints
filelock
fsspec
ftfy
future
gitdb
GitPython
google-auth
google-auth-oauthlib
grpcio
h5py
idna
ipdb
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
Markdown
MarkupSafe
matplotlib
mistune
multidict
multimodal
murmurhash
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
numpy
oauthlib
opencv-python
packaging
pandas
pandocfilters
parso
pathtools
pexpect
pickleshare
Pillow
plac
plotly
preshed
prometheus-client
promise
prompt-toolkit
protobuf
psutil
ptyprocess
pyasn1
pyasn1-modules
pycparser
Pygments
pyparsing
pyreadr
pyrsistent
pySmartDL
python-dateutil
pytorch-lightning
pytz
PyYAML
pyzmq
qtconsole
QtPy
regex
requests
requests-oauthlib
retrying
rsa
sacremoses
scipy
seaborn
Send2Trash
sentencepiece
sentry-sdk
shortuuid
six
smmap
spacy
SQLAlchemy
srsly
subprocess32
tensorboard
tensorboard-plugin-wit
terminado
testpath
thinc
tokenizers
torch
torchtext
torchvision
tornado
tqdm
traitlets
transformers
typing-extensions
urllib3
wandb
wasabi
watchdog
wcwidth
webencodings
Werkzeug
widgetsnbextension
xlrd
yarl
